#searchbar{
  margin-left: 15%;
  padding:15px;
  border-radius: 10px;
  text-align: center;
}

input[type=text] {
   width: 30%;
   -webkit-transition: width 0.15s ease-in-out;
   transition: width 0.15s ease-in-out;
}

/* When the input field gets focus,
     change its width to 100% */
input[type=text]:focus {
  width: 70%;
}

#list{
 font-size:  1.5em;
 margin-left: 90px;
}

.memz{
display: list-item;
}

body{
  background-image: url(./image-style/fond-Site.jpg);
}

header h1{
  text-align: center;
  background-color: pink;
}

header{
  background-color: gray;
}

table{
  margin: auto;
}

td{
 text-align: center;
 
}

footer{
  position:fixed;
  bottom: 0%;
  background-color: gray;
  width: 100%;
  text-align: center;
}



div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

table{
  background-color: white;
  text-align: center;
}

table td{
  border: 2px solid black;
}